body
{
    display: flex;
    margin: 0em;
    padding-top: 0em;
}

aside {
    width: 25%;
    background-color: #4CAF50;
    padding: 0%;
    margin: 0em;
    min-width: 200px;
}

aside h3
{
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

p
{
    margin-top: 0em;
    padding-top: 0em;
    text-align: justify;
    max-width: 750px;
}

.photo a
{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact {
    margin: 3em;
}

.contacts:nth-child(4)
{
    align-self: flex-end;
}

.loisirs {
    align-self: flex-end;
}

.moi {
    margin: 3em;
}

.loisirs {

    display: flex;
    justify-content: space-around;
}

.loisirs i
{
    font-size: 300%;
    color: #000000;
}

img {
    width: 60%;
    border: 1em #5DBF61 solid;
    border-radius: 9000px;
}

i {
    color: #4CAF50;
    margin-right: 1em;
}

section
{
    padding: 5% 0% 5% 5%;
    margin: 0em;
    width: 60%;
}

strong {
    color: #4CAF50;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0em;
}

h2 {
    color: #37474F;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0em;
    margin-bottom: 16%;
}

aside h2 {
    background-color: #263238;
    color: #4CAF50;
    padding: 0em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
    
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #4CAF50;
}

h3 i
{
    font-size: 100%;
    margin-right: 1em;
}

h4
{
    margin-top: 0em;
    padding-top: 0em;
}

h5 
{
    color: #37474F;
    margin-top: 0em;
    padding-top: 0em;
    font-weight: normal;
}

em {
    text-decoration: underline;
    text-decoration-color: #4CAF50;
    font-style: normal;
}

header
{
    padding: 0em;
    margin: 0em;
}

.formation {
    display: flex;
    flex-direction: row;
}


.compétences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expériences {
    display: flex;
    flex-direction: row;
}



.datelieu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5em;
    width: 8em;
}



.quoi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5em;
}



.SoftsSkills
{
    margin-right: 5em;
}

.HardsSkills
{
    margin-right: 5em;
}


li
{
    margin-left: 0em;
    padding-left: 0em;
    list-style: none;
}

ctct
{
    margin-bottom: 3em;
}

a
{
        color: #000000;
}

.loisirs i {
    padding: 8px;
    border: 1px #000000 solid;
    border-radius: 9000px;
}


@media screen and (max-device: 991px)
{
    .loisirs
    {
        display:flex;
        flex-direction: column;
    }

    formations i
    {
        display:none;
    }


    aside i
    {
        text-align: center;
        margin: 1em;
    }
}


@media screen and (max-device: 768px)
{
    .photo
    {
        display:none;
    }

    body
    {
        display: flex;
        flex-direction: column-reverse;
    }

    aside
    {
        width:100%;
    }


    .formation {
        display: flex;
        flex-direction: column;
    }

    .compétences {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .expériences {
        display: flex;
        flex-direction: column;
    }

    .datelieu
    {
        display:none;
    }

}